/* 画像のスタイル設定 */
img {
    width: 100%; /* 画像の幅をカードの幅に合わせる */
    height: 150px; /* 高さを固定 */
    object-fit: cover; /* 画像が歪まないようにする */
    align-self: center; /* 画像を中央揃え */
  }
  
  /* カードのスタイル設定 */
  .card {
    border: rgb(103, 102, 105) 3px solid; /* ボーダーの色と幅 */
    display: flex; /* フレックスボックスを使用 */
    flex-direction: column; /* 縦方向に並べる */
    margin-left: 5%; /* 左マージン */
    margin-right: 5%; /* 右マージン */
    margin-top: 1%; /* 上マージン */
    margin-bottom: 1%; /* 下マージン */
    width: 30%; /* 幅を一定に */
    overflow: hidden; /* 中身がはみ出さないように */
  }
  
  /* ヘッダーのスタイル設定 */
  h1 {
    text-align: center; /* 中央揃え */
    padding-top: 50px; /* 上の余白 */
    font-size: 3em; /* フォントサイズ */
    font-weight: bold; /* 太字 */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* テキストシャドウ */
  }
  
  /* 各チームのカードのスタイル */
  .team-card {
    background-color: rgba(243, 154, 154, 0.5); /* 背景色に透過を加える */
    margin: 20px auto; /* 上下にマージンを付けて中央揃え */
    padding: 20px; /* 内側の余白 */
    border-radius: 10px; /* 角を丸くする */
    max-width: 80%; /* 最大幅を80%に設定 */
    text-align: center; /* 中央揃え */
  }
  
  /* チームカード内のh3のスタイル設定 */
  .team-card h3 {
    font-size: 1.5em; /* フォントサイズ */
    margin-bottom: 15px; /* 下の余白 */
  }
  
  /* チームカード内のpタグのスタイル設定 */
  .team-card p {
    font-size: 1.2em; /* フォントサイズ */
  }
  
  /* ボタンのスタイル設定 */
  .btn-contact {
    background-color: darkturquoise; /* 背景色 */
    border: none; /* ボーダーなし */
    padding: 10px 20px; /* パディング */
    font-size: 1.1em; /* フォントサイズ */
    color: white; /* 文字色 */
    border-radius: 5px; /* 角を丸くする */
    cursor: pointer; /* カーソルをポインターに変更 */
    transition: background-color 0.3s; /* 背景色の遷移をスムーズに */
  }
  
  /* ボタンホバー時のスタイル設定 */
  .btn-contact:hover {
    background-color: #1abc9c; /* ホバー時の背景色 */
  }
  
  /* 横並びの要素を含む行のスタイル設定 */
  .row {
    display: flex; /* フレックスボックスを使用 */
    flex: 1; /* フレックスアイテムとしての比率 */
    flex-direction: row; /* 横並びにする */
    margin: auto; /* 中央揃え */
    margin-top: 1%; /* 上の余白 */
    justify-content: center; /* 中央揃え */
    padding: 20px; /* 内側の余白 */
  }
  
  /* コンテナのスタイル設定 */
  .container {
    justify-content: center; /* コンテナ内の要素を中央に揃える */
  }
  
  /* 詳細情報のスタイル設定 */
  .details {
    font-size: 20px; /* フォントサイズ */
    color: rgb(97, 64, 128); /* 文字色 */
    padding: 20px; /* パディング */
  }
  
  /* タイトルのスタイル設定 */
  .title {
    font-size: 20px; /* フォントサイズ */
    background-color: rgb(97, 64, 128); /* 背景色 */
    color: white; /* 文字色 */
    text-align: center; /* 中央揃え */
    margin: 20px; /* マージン */
    padding: 5px; /* パディング */
  }
  
  /* ホームページリンクのスタイル設定 */
  .homepage_links {
    color: rgb(97, 64, 128); /* 文字色 */
    padding: 25%; /* パディング */
    font-size: larger; /* フォントサイズ */
  }
  
  /* ログインリンクのスタイル設定 */
  .loginlink {
    display: flex; /* フレックスボックスを使用 */
    flex-direction: row; /* 横並び */
    justify-content: flex-end; /* 右揃え */
  }
  
  /* バナーのスタイル設定 */
  .banner {
    display: flex; /* フレックスボックスを使用 */
    flex-direction: column; /* 縦並び */
    align-items: center; /* 中央揃え */
    justify-content: center; /* 中央揃え */
    flex: 1; /* フレックス比率 */
  }
  
  /* フォームパネルのスタイル設定 */
  .form_panel {
    padding: 2%; /* パディング */
    display: flex; /* フレックスボックスを使用 */
    flex-direction: column; /* 縦並び */
    border-radius: 50px; /* 角を丸くする */
    text-align: center; /* 中央揃え */
    box-shadow: 2px 2px 2px 3px #999; /* 影をつける */
    margin: auto; /* 中央揃え */
    min-width: 350px; /* 最小幅 */
    width: 80%; /* 幅を80%に設定 */
    margin-top: 3%; /* 上の余白 */
    background-color: black; /* 背景色 */
  }
  
  /* ナビゲーションアイテムのスタイル設定 */
  .navitems {
    display: flex; /* フレックスボックスを使用 */
    flex-direction: row; /* 横並び */
    padding: 20px; /* パディング */
    flex: 1; /* フレックス比率 */
    justify-content: flex-start; /* 左揃え */
    justify-self: center; /* セルの中央に配置 */
  }
  
  /* ナビゲーションアイテム個々のスタイル設定 */
  .nav_item {
    margin-left: 15px; /* 左のマージン */
    font-size: 20px; /* フォントサイズ */
    color: black; /* 文字色 */
    align-self: center; /* 中央揃え */
  }
  
  /* ユーザー名のスタイル設定 */
  .username {
    font: 30px sans-serif; /* フォントとサイズ */
    color: black; /* 文字色 */
    justify-content: 'flex-end'; /* 右揃え */
    align-self: flex-end; /* 下揃え */
    vertical-align: middle; /* 垂直方向に中央揃え */
  }
  
  /* 入力パネルのスタイル設定 */
  .input_panel {
    display: flex; /* フレックスボックスを使用 */
    flex-direction: row; /* 横並び */
    padding: 20px; /* パディング */
    flex: 1; /* フレックス比率 */
    justify-content: flex-end; /* 右揃え */
    align-items: flex-end; /* 下揃え */
    vertical-align: middle; /* 垂直方向に中央揃え */
  }
  
  /* 小見出しのスタイル設定 */
  .small_header {
    font: 30px sans-serif; /* フォントとサイズ */
    color: black; /* 文字色 */
    margin: .5cm; /* マージン */
  }
  
  /* アイコン画像のスタイル設定 */
  .img_icon {
    align-self: center; /* 中央揃え */
    width: 40px; /* 幅を40pxに設定 */
    background-color: #0C9; /* 背景色 */
    color: #FFF; /* 文字色 */
    border-radius: 50px; /* 丸くする */
    text-align: center; /* 中央揃え */
    box-shadow: 2px 2px 3px #999; /* 影をつける */
  }
  
  /* ナビゲーションリンクのスタイル設定 */
  .nav-link {
    font-size: larger; /* フォントサイズ */
    transition: font-weight 0.3s ease; /* スムーズにフォントが太くなるように */
  }
  
  /* ホバー時やアクティブ時にナビゲーションリンクを太字に */
  .nav-link:hover,
  .nav-link.active {
    font-weight: bold; /* 太字に変更 */
  }
  